<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form onsubmit="login(event)">
        <label for="username">Username:</label>
        <input type="text" id="username">
        <label for="password">Password:</label>
        <input type="password" id="password">
        <button>送出</button>
    </form>

    <script>

        function login2(e){
            e.preventDefault();
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;

            let ajax = new XMLHttpRequest();
            ajax.open("post", "/login");
            ajax.setRequestHeader("Content-Type", "application/json");
            ajax.send(JSON.stringify({
                username: username,
                password, password
            }));
            
            ajax.onreadystatechange = function(){
                if(ajax.readyState == 4 && ajax.response == 200){
                    console.log("123")
                    let data = JSON.parse(ajax.responseText);
                    if(data.login){
                        location.href = "/";
                    }else{
                        alert("login failed");
                    }
                }
            }
        
        }

        function login(e){
            e.preventDefault();
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            fetch("/login",{
                headers:{
                    "Content-Type": "application/json"
                },
                method: "post",
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
            .then(function(res){
                console.log(res);
                return res.json()
            })//parse json
            .then(function(data){
                if(data.login == true){
                    localStorage.setItem("jwt", data.token);
                    location.href = "/";
                }else{
                    alert("你登入失敗了!!!");
                }
            });
        }
    </script>
</body>
</html>